/* Common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Начало первая часть */
.main_box{
    margin: 0 15em;
}

.img_logo{
    position: absolute;
    top: 1%;
}


.main{
background: url(img/fon_forest.png);
background-repeat: no-repeat;
background-size:cover;

}

.main_container{
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
    text-transform: lowercase;
    padding-top: 20px;
    font-weight: 900;
}

.item{
   margin-right: 20px;
}

.item:hover{
    color: aqua;
}

.main-text{
    text-align: center;
    margin: 8em 0;
    color: whitesmoke;
    position: relative;
}

.h1::after{
    position: absolute;
    left: 45%;
    top:10%;
    display: block;
    content: '';
    width: 70px;
    height: 1px;
    background-color: aqua;
    margin: 30px 0;
}

.main_shorttext{
    margin: 60px 0 30px 0;
}

.main_button{
    border: 1px solid aqua;
    background-color: transparent;
    padding: 10px 12px;
    color: aqua;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 900;
    
}

.img_down{
    background-color: aliceblue;  
    border-radius: 50%;
}

.img_down:hover{
    background-color: aqua;
}

.img_down{
    margin: 5rem 0 3rem 0;
}


/* вторая секция */
.section_box{
    margin: 0 15em;
   
}

.section_container{
    display: flex;
}

.section_container_item_2{
   padding-left: 8rem;
}

.section_container_item_2  p{
    margin-bottom: 20px;
}

.section_container_item_2 h2{
    margin-bottom: 20px;
}


/* третья секция play */

.section_2{
    background-image: url(img/tajem_master.png);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height: 500px;
}


.section_2-play{
    position:absolute;
    left: 50%;
    top: 50%;
    right: 0;
    
}

.section_2-play-text{
    color: whitesmoke;
    text-transform: uppercase;
    position:absolute;
    left: 48.5%;
    top: 70%;
    right: 0;
    padding-top: 20px;
 
}

